<section class="goods">
  <div class="goods__wrapper">
    <h2 class="goods__heading">Специальные предложения</h2>
    <div class="products">
      <div class="product-card">
        <img src="img/product.png" width="125" height="166" alt="Кресло «Норм»">
        <p class="product-card__text">Парикмахерское кресло «Норм» гидравлическое</p>
        <p class="product-card__price">9 900 ₽</p>
        <button class="button-basic button-basic_main">Купить</button>
      </div>
      <div class="product-card">
        <img src="img/product.png" width="125" height="166" alt="Кресло «Норм»">
        <p class="product-card__text">Парикмахерское кресло «Норм» гидравлическое</p>
        <p class="product-card__price">9 900 ₽</p>
        <button class="button-basic button-basic_main">Купить</button>
      </div>
      <div class="product-card">
        <img src="img/product.png" width="125" height="166" alt="Кресло «Норм»">
        <p class="product-card__text">Парикмахерское кресло «Норм» гидравлическое</p>
        <p class="product-card__price">9 900 ₽</p>
        <button class="button-basic button-basic_main">Купить</button>
      </div>
      <div class="product-card">
        <img src="img/product.png" width="125" height="166" alt="Кресло «Норм»">
        <p class="product-card__text">Парикмахерское кресло «Норм» гидравлическое</p>
        <p class="product-card__price">9 900 ₽</p>
        <button class="button-basic button-basic_main">Купить</button>
      </div>
    </div>
  </div>
</section>