.button-basic {
  @include text(400, 14px);
  font-family: $font-basic;
  border: 2px solid $basic-accent;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px 25px;
  cursor: pointer;

  &_special {
    @include link;
    display: block;
    width: max-content;
    border-color: $white;
    color: $white;
    padding: 11px 45px;
    letter-spacing: 0.05em;

    &:hover {
      background-color: $white;
      color: $basic-accent;
    }
  }

  &_main {
    background-color: $basic-accent;
    color: $white;
    letter-spacing: 0.05em;
    border-radius: 30px;
    padding: 9px 40px;
    border: none;

    &:hover {
      background-color: transparent;
      border: 2px solid $basic-accent;
      padding: 7px 38px;
      color: $black;
    }
  }

  &_header {
    margin-left: 38px;

    &:hover {
      background-color: $basic-accent;
      color: $white;
    }

    &:active {
      background-color: $basic-accent;
      color: $white;
      opacity: 70%;
    }
  }

  &_for-clients {
    padding: 8px 27px;
    letter-spacing: normal;
  }
}