.button-basic {
  @include text(400, 14px);
  border: 2px solid $basic-accent;
  background-color: transparent;
  border-radius: 40px;
  padding: 12px 27px;

  &_special {
    @include link;
    display: block;
    width: max-content;
    border-color: $white;
    color: $white;
    padding: 11px 45px;
    letter-spacing: 0.05em;
  }
}

.button-basic_header {
  margin-left: 38px;
}
