<body class="body">
  <!--=include header.html -->
  <main>
    <h1 hidden>Beauty - интернет-магазин оборудования для салонов красоты</h1>
    <!--=include banner.html -->
    <!--=include goods.html -->
    <section>
      <form>
        <h3>Получайте бонусы и подарки</h3>
        <p>Каждый месяц разыгрываем 10 000 рублей для наших клиентов</p>
        <input type="email" id="email" placeholder="Введите e-mail" >
      </form>
      <div>
        <h3>Заходите к нам</h3>
        <p>Более 300 магазинов по всей России</p>
        <a href="#">Карта магазинов</a>
      </div>
    </section>
  </main>
  <!--=include footer.html -->
</body>